/* 全体 */
html {
    min-width: 375px;
}
body{
    background-color: #F9FBFE;
    background-image: url("/images/backimg.png");
    background-size: 100% auto;
}
a {
    cursor: pointer;
    text-decoration: none;
}
input[type=radio] {
    display: none;
}
.sideContents{
    width: calc(100% - 220px);
}
/* app.blade */
.header a{
    color: #000000;
    text-decoration: none;
}
.footer{
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
    position: absolute;
    box-shadow: 0 -0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
/* home.blade */
.introduction{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: solid 1px rgb(134, 128, 128);
}

.px2rem {
    padding: 0 2rem 0 2rem;
}

.detail{
    word-break: break-all;
}

.curriBox, .curriBoxNoOpen{
    position: relative;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    display: block;
}
.curriBox:hover{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 4px 4px;
    transition: all 0.2s ease-in-out 0s;
}
.curriBox a{
    color: #000000;
    text-decoration: none;
    word-break: break-all;
}
.curriBoxNoOpen a{
    color: #000000;
    text-decoration: none;
    word-break: break-all;
    pointer-events: none;
}
.curriBoxNoOpen:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(75,75,75,0.062);
    padding: 16px;
    border-radius: 10px;
    z-index: 20;
}

.percent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: large;
}
#ranking td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ranking.blade.php */
.table-header {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.table th,
.table td {
    border:none;
}

/* curriculum.blade */
.chapter-card {
    border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.chapter-info {
    border-left:solid 5px rgb(97,169,220);
    padding: 1rem 1rem 0.5rem 1rem;
}

.table td a{
    display: block;
    width:100%;
    height:100%;
    text-decoration: none;
    color: #4B4B4B;
}

.table td .btn{
    color: #FFFFFF;
    text-decoration: none;
}

.item-detail {
    width: 100%;
}

.task-color, .task-color0{
    background-color: #ED8077;
}
.task-color1{
    background-color: #5EB5A6;
}
.task-color2{
    background-color: #61A9DC;
}

.chapter-nav{
    position: sticky;
    top: 8rem;
}
.chapter-nav > a {
    text-decoration: none;
}
.nav-block{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0px solid #aadcff;
    background-color: #61A9DC;
}
.nav-item{
    font-size: 18px;
}
.nav-item span{
    line-height: 30px;
    color: #4B4B4B;
}

.check-mark {
    width: 1rem;
    height: 1rem;
    background: #FF0000;
    position: absolute;
    top: -5px;
    right: -6px;
    border: 1.5px solid #FFFFFF;
    border-radius: 50%;
}

/* mypage.blade */
#disableBtn:disabled {
    background: #4B4B4B;
    border-color: #4B4B4B;
}

/* task.blade */
.commentBox{
    background-color: rgb(160, 214, 253);
    border-radius: 10px;
}
li a{
    text-decoration: none;
    color: #ED8077;
}
label[for=learning] {
    width: 100%;
    border: solid 2px #5EB5A6;
}
input[type="radio"]:checked + label[for=learning] {
    background: #5EB5A6;
    color: #FFFFFF;
}
label[for=done] {
    width: 100%;
    border: solid 2px #61A9DC;
}
input[type="radio"]:checked + label[for=done] {
    background: #61A9DC;
    color: #FFFFFF;
}
.markText p{
    margin-bottom: 0;
    white-space: pre-line;
}

/* side-menu */
#side-menu{
    position: fixed;
    top: 62px;
    z-index: 1;
    height: 100%;
    min-height: 100%;
}
#side-menu ul {
    list-style-type: none;
}
#side-menu a {
    color: #212529;
}


/* company-create.blade, company-edit.blade */
.imagePreview {
    width: 220px;
    height: 80px;
    padding: 0;
}
.mainImagePreview {
    width: 333px;
    height: 180px;
    padding: 0;
}
.bannerPreview1, .bannerPreview2, .bannerPreview3 {
    width: 333px;
    height: 60px;
    padding: 0;
}
.custom-file {
    overflow: hidden;
}
.custom-file-label {
    white-space: nowrap;
}
.private {
    border: solid 2px #DC3545;
}
.private.active {
    background: #DC3545;
    color: #FFFFFF;
}
.release {
    border: solid 2px #28A745;
}
.release.active {
    background: #28A745;
    color: #FFFFFF;
}
.secondary {
    border: solid 2px #6C757D;
}
.secondary.active {
    background: #6C757D;
    color: #FFFFFF;
}
.info {
    border: solid 2px #17A2B8;
}
.info.active {
    background: #17A2B8;
    color: #FFFFFF;
}

/* article */
.mce-img {
    height: auto;
}

@media screen and (max-width: 1107px){
    .scroll-table {
        overflow: auto;
        white-space: nowrap;
    }

    .table {
    width: 100%;
    border-collapse: collapse;
    }
}

/* popup */
.popup_bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1050;
}
.learning_popup {
    width: 80%;
    max-width: 345px;
    background:#fff;
    border: solid 2px #e0e0e0;
    border-radius: 10px;
    padding: 2rem 1rem;
    text-align: center;
}
.learning_popup p {
    width: 70%;
    display: inline-block;
    text-align: left;
}
